<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        {{#if css}}<link href="{{css}}" rel="stylesheet" type="text/css" />{{/if}}
    </head>
    <body>
        <div id="root">{{&html}}</div>
        <script src="{{js}}"></script>
        <script>app({{&data}}, document.getElementById('root'))</script>
    </body>
</html>
